* {
  margin-left: 0px;
  font-family:cursive;
  color: #726625;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 2%;
  top: 0;
  background-color: #FFE353;
}

.navbar-brand select {
  font-weight: bold;
  font-size: 1.4rem;
  color: #726625;
}

.navbar-brand .form-select,
.headerRightSide select {
  background-color: rgba(255, 255, 255, 0);
  border: none !important;
  box-shadow: none !important;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
}

.navbar-brand .form-select:hover {
  transform: scale(1.04);
  background-color: rgba(255, 0, 0, 0);
  color: #d4c151;
}

.headerRightSide select {
  padding: 15px;
}

select:focus {
  outline: none;
}

option {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.FavListNum {
  color: black;
  font-size: 12px;
  font-weight: normal
}


i {
  color: black;
  margin: 0 5px 0 10px;

}

.container {
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 38vh;
  margin-top: 3vh;
}

.welcome {
  background-color: #eeee;
  padding: 3%;
  width: 100%;
}

.welcome>p {
  font-size: smaller;
}

.serachInput {
  display: inline-block;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
}

.serachInput:focus {
  outline: 2px solid rgba(116, 115, 115, 0.442);
}


.SearchButton {
  width: 100%;
  width: 120px;
  background-color: #FFE353;
  border-radius: 10px;
  border: none;
  height: 100%;
  transition: all 1s;
}

button:hover {
  transform: scale(1.1);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  width: 90vw;
  height: 90vh;
}

.loadspan {
  border-left: 5px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation-name: load;
  animation-duration: 0.5s;
  animation-iteration-count: infinite
}

@keyframes load {
  25% {
    transform: rotate(90deg);
    border-color: red;
  }

  50% {
    transform: rotate(180deg);
    border-color: blue;
  }

  75% {
    transform: rotate(250deg);
    border-color: green;
  }

  100% {
    transform: rotate(360deg);


  }
}

.movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  overflow: hidden;
  margin: auto;
}

.paginationBtn {
  background-color: inherit;
  color: cadetblue;
  border: none;
}

.paginationBtn:focus {
  background-color: #f5f542;
  border-color: #f5f542 !important;
}