* {
  margin-left: 0px;
  font-family: cursive;
  transition: all 2s;
}

:root {
  --primary-color: white;
  --secondary-color: #f3f1f1;
  --third-color: black;
  --forth-color: #7d7b7bc5;
  --fifth-color: white;
}

[data-theme="dark"] {
  --primary-color: #1a2a3a;
  --secondary-color: #59626b3a;
  --third-color: white;
  --forth-color: #ffffffa0;
  --fifth-color: #ffffff1d;
}

body {
  transition: all 1s;
  padding-bottom: 5%;
}

body[data-theme="dark"] {
  padding-bottom: 5%;
  background-color: #1a2a3a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 2%;
  top: 0;
  background-color: #ffe14adf;
}


.navbar-brand select {
  font-weight: bold;
  font-size: 1.4rem;
  font-size: 22px;
}

.navbar-brand .form-select,
.headerRightSide select {
  background-color: rgba(209, 14, 14, 0);
  border: none !important;
  box-shadow: none !important;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
}

.navbar-collapse.collapse.show {
  background-color: #f8e895af;
  border-radius: 10px;
  padding: 15px 23px;
  transition: all 0.8s;
}

.headerRightSide select {
  font-weight: bold;
}

.navbar-brand .form-select:hover {
  transform: scale(1.04);
  background-color: rgba(255, 0, 0, 0);
  color: rgba(0, 0, 0, 0.703);
}

.themeImage {
  width: 25px;
  cursor: pointer;
}

.themeImage:hover {
  transform: rotate(360deg);
  transition: all 0.8s;
}

/* ********** Card ********** */

.Card {
  transition: all 1s;
  background-color: var(--primary-color);
  cursor: pointer;
}

.cardMainContainer {
  background-color: var(--primary-color);
}

.Card:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}

.CardImage {
  border-radius: 20px;
  margin-bottom: 15%;
  object-fit: fill;

}

.CardBody .cardTitle,
.watchlist-card .cardTitle,
.text-start {
  color: var(--third-color)
}

.CardBody .cardDate,
.cardDetailsContainer .cardDetailsDate,
.cardCompanies span,
.watchlist-card .cardDate {
  color: var(--forth-color)
}

.cardFavIcon {
  cursor: pointer;
}

/* ********** Circle ********** */
.circle {
  --percentage: 85;
  width: 50px;
  height: 50px;
  --progress-color: #00ff88;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #0b1620;
  position: absolute;
  bottom: 22%;
  left: 10%;
  background: conic-gradient(var(--progress-color) calc(var(--percentage) * 1%),
      #1a2a3a 0);
}

.circle::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  background: #0b1620;
  border-radius: 50%;
}

.circle span {
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

/* ********** NavBar ********** */


option {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.watchListIcon {
  height: 20%;
}

.WatchLinkContainer {
  padding-right: 12px;
}

.watchListText {
  font-weight: bold;
  color: black
}


.favListNum {
  color: black;
  font-size: 12px;
}

i {
  color: black;
  margin: 0 5px 0 10px;
}

/* ***** ******* ******* ****** welcome style ***** ******* ******* ***** */
.nowPlaying {
  color: var(--third-color);
  margin-left: 3%;
  margin-right: 3%;
}

.WelcomeMainContainer {
  display: flex;
  justify-content: center;
  margin: 25px 0px 0px 0px;
}

.WelcomeContainer {
  width: 96%;
  margin: 5vh 0vh 10vh 0vh;
}

.welcome {
  background-color: var(--secondary-color);
  padding: 4%;
  width: 100%;
}

.welcome>h2 {
  color: var(--third-color);
}

.welcome>p {
  color: var(--third-color);
  font-size: smaller;
  padding: 20px 0px 10px 0px;
}

.serachInput {
  background-color: white;
  border: 1px solid #76756fbb;
  border-radius: 10px;
  width: 98%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.serachInput:focus {
  outline: 2px solid rgba(116, 115, 115, 0.442);
}

.SearchButton {
  background-color: #ffe353;
  border-radius: 10px;
  border: none;
  padding: 10px;
  transition: all 1s;
}

button:hover {
  background-color: #e6ca40;
  color: #4a3f1a;

}

.searchHeader {
  color: var(--third-color);
  margin: 5%;
  margin-top: 1%;
}

.SearchResult .searchPageInput {
  width: 89%;
  margin: 10px auto;
}

.notFoundResult {
  margin-right: 5%;
  margin-left: 5%
}

.loadingText {
  color: var(--third-color);
  margin-right: 6%;
  margin-left: 6%
}

/* ******* ******* ******* ******* ******* ******* ****** ****** ****** */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  width: 90vw;

  height: 90vh;
}

.loadspan {
  border-left: 5px solid #e6ca40;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation-name: load;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes load {
  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);

  }

  75% {
    transform: rotate(250deg);

  }

  100% {
    transform: rotate(360deg);
  }
}

.movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/****************Pagination************************/
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  overflow: hidden;
  margin: auto;
  border: none;
  color: darkgray;
  width: 75vw;

}


.page-item.active .page-link {
  border-radius: 5px;
  background-color: #ffe353;
  color: rgba(0, 0, 0, 0.563);
  border: 2px solid #ffe353;
  font-weight: bold;
}

.page-item:not(.active) .page-link {
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: darkgray;
}


.page-item.disabled {
  visibility: hidden;
}

@media (max-width:520px) {
  .pagination {
    width: 95vw;
    /* padding: 1px;
    background: red;
    margin: 5px; */
  }

  .page-item {
    width: 30px;
  }
}

.recommendText {
  margin-left: 2%;
  margin-right: 2%;
  padding: 15px;
  color: var(--third-color)
}



/******** Responsive Mobile Only *********/

.WatchListCard .watchlist-card {
  background-color: var(--fifth-color);
}

@media (max-width: 767px) {
  .WatchListCard .watchlist-card {
    width: 100% !important;

  }

  .watchlist-card .CardImage {
    width: 50% !important;
    border-radius: 20px !important;
  }

  .watchlist-card .card-body {
    width: 100% !important;
  }

  .watchlist-card .card-title {
    font-size: 18px !important;
  }


}



/************ WatchList ************/

.btn-custom {
  background-color: #ffe353;
  color: #4a3f1a;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #e6ca40;
  color: #726625;

}

/* custom details*/
.CardDetails {
  border-radius: 12px;
  border: none;
  margin: auto;
  width: 100%;
  height: 100%;
}

.cardDetailsContainer .movie-card {
  background-color: var(--primary-color);
  border: none;
  border-radius: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.genre-badge {

  padding: 7px;
  min-width: 80px;
  text-align: center;
  border-radius: 8px;
}

.list-group-item {
  border: none !important;
  padding-left: 0;
}

.cardDetailsContainer .cardDetailsTitle,
.cardDetailsContainer .cardOverview,
.watchlist-card .cardOverview,
.voteText,
.noRecommend,
.detailsSeparator,
.cardDetailsContainer .detailListItem span,
.detailsCompanyName,
.NoResultWt,
.ErrorText {
  color: var(--third-color);
}


/****************Errorbtn******************/
.goBack {
  height: 40px;
  border-radius: 20px;
  transition: all 1s;
}

.goBack:hover {
  color: white;
  transform: scale(1.05);
}